In [1]:
import pandas as pd

In [4]:
resultados_f1 = pd.read_excel("Resultados_F1.xlsx")
resultados_f1.head()

,Unnamed: 0,Grand Prix,Year,Winner,Car,Laps,Time,Escala
0,0,Great Britain,1950,Nino Farina FAR,Alfa Romeo,70,2:13:23,333.458333
1,1,Monaco,1950,Juan Manuel Fangio FAN,Alfa Romeo,100,3:13:18,483.250000
2,2,Indianapolis 500,1950,Johnnie Parsons PAR,Kurtis Kraft Offenhauser,138,2:46:55,417.291667
3,3,Switzerland,1950,Nino Farina FAR,Alfa Romeo,42,2:02:53,307.208333
4,4,Belgium,1950,Juan Manuel Fangio FAN,Alfa Romeo,35,2:47:26,418.583333

In [18]:
df = pd.read_csv("F1_Race_Results.csv")
#Formula 1 Dataset 游끭 游끠 (1950 - 2021)

In [3]:
df_1=pd.read_excel('Fallecidos_F1.xlsx')
df_1

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Piloto,Fecha,Edad,Causa,NaN,NaN
1,ONGAIS Danny,2022-02-26 00:00:00,79 a침os,Insuffisance cardiaque,NaN,NaN
2,BONDURANT Bob,2021-11-12 00:00:00,88 a침os,NaN,NaN,NaN
3,HARRIS Mike,2021-11-08 00:00:00,82 a침os,NaN,NaN,NaN
4,VACCARELLA Nino,2021-09-22 00:00:00,88 a침os,NaN,NaN,NaN
...,...,...,...,...,...,...
607,BROWN Walt,1951-07-29 00:00:00,39 a침os,Accident durant une course de voitures de sport,NaN,NaN
608,GREEN Cecil,1951-07-29 00:00:00,31 a침os,Accident durant les essais d'une course,NaN,NaN
609,ACHARD Jean,1951-07-14 00:00:00,33 a침os,Accident durant des essais sur Ferrari,NaN,NaN
610,SOMMER Raymond,1950-09-10 00:00:00,44 a침os,Accident durant une course de F3 sur Cooper,NaN,NaN
611,FRY Joe,1950-07-29 00:00:00,34 a침os,Accident durant une course de c칪te,NaN,NaN

In [27]:
df

,Grand Prix,Date,Winner,Car,Laps,Time
0,Great Britain,13 May 1950,Nino Farina FAR,Alfa Romeo,70.0,2:13:23.600
1,Monaco,21 May 1950,Juan Manuel Fangio FAN,Alfa Romeo,100.0,3:13:18.700
2,Indianapolis 500,30 May 1950,Johnnie Parsons PAR,Kurtis Kraft Offenhauser,138.0,2:46:55.970
3,Switzerland,04 Jun 1950,Nino Farina FAR,Alfa Romeo,42.0,2:02:53.700
4,Belgium,18 Jun 1950,Juan Manuel Fangio FAN,Alfa Romeo,35.0,2:47:26.000
...,...,...,...,...,...,...
1055,Mexico,07 Nov 2021,Max Verstappen VER,Red Bull Racing Honda,71.0,1:38:39.086
1056,Brazil,14 Nov 2021,Lewis Hamilton HAM,Mercedes,71.0,1:32:22.851
1057,Qatar,21 Nov 2021,Lewis Hamilton HAM,Mercedes,57.0,1:24:28.471
1058,Saudi Arabia,05 Dec 2021,Lewis Hamilton HAM,Mercedes,50.0,2:06:15.118
1059,Abu Dhabi,12 Dec 2021,Max Verstappen VER,Red Bull Racing Honda,58.0,1:30:17.345

In [26]:
df['Grand Prix'].unique()

array(['Great Britain', 'Monaco', 'Indianapolis 500', 'Switzerland',
       'Belgium', 'France', 'Italy', 'Germany', 'Spain', 'Netherlands',
       'Argentina', 'Pescara', 'Portugal', 'Morocco', 'United States',
       'South Africa', 'Mexico', 'Austria', 'Canada', 'Brazil', 'Sweden',
       'USA West', 'USA East', 'Japan', 'San Marino', 'Las Vegas',
       'Detroit', 'Europe', 'Dallas', 'Australia', 'Hungary', 'Pacific',
       'Luxembourg', 'Malaysia', 'Bahrain', 'China', 'Turkey',
       'Singapore', 'Abu Dhabi', 'South Korea', 'India', 'Russia',
       'Azerbaijan', 'Styria', '70th Anniversary', 'Tuscany', 'Eifel',
       'Emilia Romagna', 'Sakhir', 'Qatar', 'Saudi Arabia'], dtype=object)

In [20]:
df.info

<bound method DataFrame.info of             Grand Prix         Date                  Winner  \
0        Great Britain  13 May 1950         Nino Farina FAR
1               Monaco  21 May 1950  Juan Manuel Fangio FAN
2     Indianapolis 500  30 May 1950    Johnnie  Parsons PAR
3          Switzerland  04 Jun 1950         Nino Farina FAR
4              Belgium  18 Jun 1950  Juan Manuel Fangio FAN
...                ...          ...                     ...
1055            Mexico  07 Nov 2021      Max Verstappen VER
1056            Brazil  14 Nov 2021      Lewis Hamilton HAM
1057             Qatar  21 Nov 2021      Lewis Hamilton HAM
1058      Saudi Arabia  05 Dec 2021      Lewis Hamilton HAM
1059         Abu Dhabi  12 Dec 2021      Max Verstappen VER

                           Car   Laps         Time
0                   Alfa Romeo   70.0  2:13:23.600
1                   Alfa Romeo  100.0  3:13:18.700
2     Kurtis Kraft Offenhauser  138.0  2:46:55.970
3                   Alfa Romeo   42.0  2:02:53.700
4                   Alfa Romeo   35.0  2:47:26.000
...                        ...    ...          ...
1055     Red Bull Racing Honda   71.0  1:38:39.086
1056                  Mercedes   71.0  1:32:22.851
1057                  Mercedes   57.0  1:24:28.471
1058                  Mercedes   50.0  2:06:15.118
1059     Red Bull Racing Honda   58.0  1:30:17.345

[1060 rows x 6 columns]>